.env
__pycache__/
*.save
faiss_index/

# - - - ADD THESE NEW RULES - - -

# Ignore virtual environment folder
venv/

# Ignore temporary swap files from editors like Vim/Nano
*.swp

# Ignore editor-specific settings folders
.vscode/



